<!doctype html>
<html>
<head>
	<title>The Bike Shop</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	{{{body}}}
</body>
</html>