<link rel="stylesheet" href="generalStyles.css">

<!--Page Header with links to other pages-->
  <h1>The Bike Shop</h1>
    <ul>
  <li style=" float: left;"><a href="index">Home</a></li>
   <li style=" float: left;"><a href="repairs">Repair Jobs</a></li>
   <li style=" float: left;"><a href="customers">Customers</a></li>
   <li style=" float: left;"><a href="parts">Manage Parts Inventory</a></li>
   <li style=" float: left;"><a href="bikes">Serviceable Bike Models Tracker</a></li>
   <li style=" float: left;"><a href="employees">Employees</a></li>
  </ul>


  <h2>Serviceable Bike Model Tracker</h2>
  <!-- New Entry !-->
  <h3>Insert a New Bike Model</h3>
<form id="bike-insert-form">
  <fieldset>
  <legend>New Bike Submit Form</legend>
  <label for="bike-make">Make:</label>
  <input type="text" name="bike-make" id="bike-make">

  <label for="bike-model">Model:</label>
  <input type="text" name="bike-model" id="bike-model">

  <label for="bike-year">Year(YYYY):</label>
  <input type="text" name="bike-year" id="bike-year">
  <div>
    <p>Select which parts this bike model is compatible with (Optional):</p>
  </div>

  <!--The below content will be created dynamically from DB Parts entity-->
  <ul id="parts-checklist">
  </ul>

  <!--Submit Bike Insert-->
  <div>
    <input type="submit" id="bike-entry-submit" class="button">
  </div>
  <div id="insert-error">
  </div>
  
  </fieldset>
</form>


<!-- Parts Inventory Table !-->
<h3>Serviceable Bike Models Table</h3>
<h4>Click view on bike model to view compatible parts</h4>
<table id="bike-table">
  <thead>
    <tr>
      <th>
        Make
      </th>
      <th>
        Model
      </th>
      <th>
        Year
      </th>
      <th>
        View Compatible Parts
      </th>
    </tr>
  </thead>


  <!-- The below table content will populate dynamically from DB Bikes entity-->
  <tbody id="bike-table-body">
  </tbody>
</table>


<!--Update Form - this will appear when a bike model is selected to view !-->
<form id="bike-view-form" >
  <fieldset>
  <legend>Bike model part compatibility detail</legend>
  <h4 id="bike-full-name"></h4>
  <!--The below content will be created dynamically from DB Parts entity-->
  <ul id ="parts-list">
  </ul>

  <input type="submit" id="bike-view-close" value="Close">
  </fieldset>
</form>

<script src="bikesScript.js"></script>
