 <link rel="stylesheet" href="generalStyles.css">
 
  <!--Page Header with links to other pages-->
  <h1>The Bike Shop</h1>
  <a href="index">Home</a>
  <a href="repairs">Repair Jobs</a>
  <a href="customers">Customers</a>
  <a href="parts">Parts Inventory</a>
  <a href="bikes">Serviceable Bike Models</a>
  <a href="employees">Employees</a>

  <h2>Manage Customers</h2>

  <!-- New Entry !-->
  <h3>Add Customer</h3>
<form id="customer-insert-form">
  <fieldset>
  <label for="name">First Name:
  <input type="text" name="firstName" id="firstName"></label>
  <br></br>
  <label for="name">Last Name:
  <input type="text" name="lastName" id="lastName"></label>
  <br></br>
  <label for="email">Email:
  <input type="text" name="email" id="email"></label>

  <br></br>

  <!--Submit Customer Insert-->
  <div>
    <input type="submit" id="customer-submit">
  </div>
  </fieldset>
</form>

<h3>View All Customers</h3>
<button onClick=location.reload();> Reload Table</button>
<br></br>
<table>
<thead>
  <tr>
    {{#each results.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each results}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>

 
<script src="customersScript.js"></script>
