 <link rel="stylesheet" href="generalStyles.css">

 <!--Page Header with links to other pages-->
  <h1>The Bike Shop</h1>
  <a href="index">Home</a>
  <a href="repairs">Repair Jobs</a>
  <a href="customers">Customers</a>
  <a href="parts">Parts Inventory</a>
  <a href="bikes">Serviceable Bike Models</a>
  <a href="employees">Employees</a>
  <h2>Manage Employees</h2>

  <!-- New Entry !-->
  <h3>Add Employee</h3>
<form id="employee-insert-form">
  <fieldset>
  <label for="name">First Name:
  <input type="text" name="first-name" id="first-name"></label>
  <br></br>
  <label for="name">Last Name:
  <input type="text" name="last-name" id="last-name"></label>

  <br></br>

  <!--Submit Employee Insert-->
  <div>
    <input type="submit" id="employee-submit">
  </div>
  </fieldset>
</form>

<h3>View All Employees</h3>
<button> View</button>
<p><mark>NOTE: Clicking the above View button will display a table below with all employees in the employees entity.</mark></p>
<p><mark>Example!</mark></p>

<table>
    <tr>
      <th>employeeId</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr>
      <td>0</td>
      <td>Bob</td>
      <td>Builder</td>
    </tr>
  </table>

<script src="employeesScript.js"></script>
