  <!--Page Header with links to other pages-->
  <h1>The Bike Shop</h1>

  <div>
    <a href="repairs">Repair Jobs</a>
  </div>
  <div>
    <a href="customers">Customers</a>
  </div>
  <div>
    <a href="parts">Manage Parts Inventory</a>
  </div>
  <div>
    <a href="bikes">Serviceable Bike Models Tracker</a>
  </div>
  <div>
    <a href="employees">Employees</a>
  </div>

<script src="indexScript.js"></script>
