  <!--Page Header with links to other pages-->
   <link rel="stylesheet" href="generalStyles.css">
  <h1>The Bike Shop</h1>

  <ul>
   <li style=" float: left;"><a href="repairs">Repair Jobs</a></li>
   <li style=" float: left;"><a href="customers">Customers</a></li>
   <li style=" float: left;"><a href="parts">Manage Parts Inventory</a></li>
   <li style=" float: left;"><a href="bikes">Serviceable Bike Models Tracker</a></li>
   <li style=" float: left;"><a href="employees">Employees</a></li>
  </ul>
 

<script src="indexScript.js"></script>
