<link rel="stylesheet" href="generalStyles.css">

<!--Page Header with links to other pages-->
  <h1>The Bike Shop</h1>
  <ul>
  <li style=" float: left;"><a href="index">Home</a></li>
   <li style=" float: left;"><a href="repairs">Repair Jobs</a></li>
   <li style=" float: left;"><a href="customers">Customers</a></li>
   <li style=" float: left;"><a href="parts">Manage Parts Inventory</a></li>
   <li style=" float: left;"><a href="bikes">Serviceable Bike Models Tracker</a></li>
   <li style=" float: left;"><a href="employees">Employees</a></li>
  </ul>

  <h2>Manage Parts Inventory</h2>
  <!-- New Entry !-->
  <h3>Insert a New Part</h3>
<form id="part-insert-form">
  <fieldset>
  <legend>New Part Submit Form</legend>
  <label for="name">Name:</label>
  <input type="text" name="part-name" id="part-name">
  <div>
    <p>Select which bike models the part is compatible with:</p>
  </div>

  <!--The below content will be created dynamically from DB BikeModels entity-->
    <ul id="bikes-checklist" style="background-color: white;">
  </ul>

  <!--Submit Part Insert-->
  <div>
    <input type="submit" id="part-entry-submit" class="button">
  </div>
    <div id="insert-error">
  </div>
  
  </fieldset>
</form>


<!-- Parts Inventory Table !-->
<h3>Parts Inventory Table</h3>
<h4>Click update on part to view compatible bike models</h4>
<table id="parts-table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Delete / Update
      </th>
    </tr>
  </thead>


  <!-- The below table content will populate dynamically from DB Parts entity-->
  <tbody id="part-table-body">
  </tbody>
</table>
<br></br>

<!--Update Form - this will appear when a part is selected to update !-->
<form id="part-update-form" >
  <fieldset>
  <legend>Update Part Name or Compatibility</legend>
  <label for="update-name">Name:</label>
  <input type="text" name="part-update-name" id="part-update-name" value="part name">


  <!--The below content will be created dynamically from DB BikeModels entity-->
    <ul id="bikes-update-checklist" style="background-color: white;">
  </ul>
  <br></br>
  <input type="submit" id="update-submit" value="Save" class="button">
  <input type="submit" id="update-cancel" value="Cancel" class="button">
  <div id='update-error'>
  </div>
  </fieldset>
</form>

<script src="partsScript.js"></script>
